/* CSS Document */
div.all{
	width:710px;
	height:600px;
	font-size:12px;
	font-family:"宋体";}
div.book{
	width:160px;
	height:190px;
	background-color:#CCC;
	float:left;
	margin-left:10px;
	text-align: center;
	padding-top:10px;}
	
	
img.book{
	width:100px;
	height:100px;
	padding-top:10px;}
	
div.books{
	width:710px;
	height:190px;
	float:left;
	}